$js-grey: #323330;
$js-yellow: #FDD83C;
$js-dark-yellow: #D4B830;
$js-darkest-yellow: #544911;
$border-radius: 5px;
$font-color: wheat;
$box-shadow: 0 0 30px 0px $js-yellow;
$disabled-btn-background: #8c8b8a;
$jump-duration: 0.4s;
$jump-height: 277px;
$floor-position: -30px;
$vue-color: #00D6D0;
$vue-dark-color: #095D57;
$react-color: #44E4F0;
$react-dark-color: #137DD3;
$angular-color: #ED3E3E;
$angular-dark-color: #571A1A;